node_modules/
data/*
!data/README.md
!data/punch-ebd.db
.admin-credentials.local
.env
.next/
loader/build/
tmp-expensive.html
tmp-*.js
tmp-*.html
public/downloads/imgui.ini
public/downloads/*.dll
public/downloads/punch-loader.zip
UIEngine/
public/downloads/punch-1.2*.jar

loader/deps/
